.post-detail-page .showPosts, .post-add-page{background-color: transparent;}
.post-detail-page .mainImage img, .post-add-page .mainImage img{display: none;}
.post-detail-page #wrapper .mainImage > header, .post-add-page .mainImage > header{background: none !important;}
.post-detail-page .showPostsBox, .post-add-page{background-position: center top; background-repeat: no-repeat;}
.post-detail-page .showPostsBox .postImageItem img, .post-add-page .gridster .resortitem img{background-color: transparent !important;}

.post-detail-page #wrapper .mainImage > header .title, .post-add-page .mainImage > header .title{text-shadow: 0px -1px 14px #f6f8f7 !important;color: #05345b !important;}
.post-detail-page #wrapper .mainImage > header .addontitle, .post-add-page .mainImage > header .addontitle{text-shadow: 0px -1px 14px #f6f8f7 !important;color: #05345b !important;}
.post-detail-page .showPostsBox, .post-add-page{background-image: url('bg.jpg');}
.post-detail-page .showPostsBox .postImageItem , .post-add-page .gridster .resortitem .imgContainer{border: 1px solid #05345B;border-radius: 6px;border-image: url('img_border.png') 14 repeat;border-width: 12px;box-sizing: border-box;}
.post-add-page .gridster ul{background-color: transparent !important;}
.post-add-page .gridster .textdiv textarea{border-width: 0px !important; color: #40484b !important;}
.post-add-page .gridster ul .resortitem.hastextarea.pressed .textdiv textarea{border-width: 1px !important;}

 
.post-add-page .gridster .postAudioItem  img{border: none !important; border-radius: 0 !important;}
.post-detail-page .showPosts > .content .postIframeItem iframe, .post-add-page .gridster .resortitem iframe{border: 1px solid #05345B;border-radius: 6px;border-image: url('img_border.png') 14 repeat;border-width: 12px;box-sizing: border-box;}
.post-detail-page .showPostsBox .musicContainer, .post-add-page .gridster .musicContainer{border: 1px solid #05345B;border-radius: 6px;border-image: url('img_border.png') 14 repeat;border-width: 12px;box-sizing: border-box;}
